%ul
  %a{href:"/auth/google"}Login with Google
  %a{href:"/auth/twitter1"}Login with Twitter
  %a{href:"/auth/facebook"}Login with Facebook
  %a{href:"/auth/linkedin"}Login with LinkedIn
  %a{href:"/auth/github"}Login with Github
  %a{href:"/auth/stackexchange"}Login with Stackexchange
